* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.container {
  width: 1920px; 
  margin: auto; 
}


.layer {
   width: 100%;
    height: 100%;
    background: #8B4513;
    opacity: 0.2;
    position: absolute;
    z-index: 1;    
}

.main  {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1024px;
    min-height: 700px;
    background: url(img/bg_photo_11949.png) no-repeat center;
    background-size: cover;
    position: relative;
            }
.header {
    margin-top: 55px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    position: relative;
    z-index: 2;
}

/*-------ЛОГОТИП----------*/

.link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  text-decoration: none;
  
}

.link-logo-svg {
  fill: #fff;
}

.link-logo-txt {
  color: #fff;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

.link-logo:hover .link-logo-svg {
  fill: #998675;
}

.link-logo:hover .link-logo-txt {
  color: #998675;
}

.link-logo:active .link-logo-svg {
  fill: gold;
}

.link-logo:active .link-logo-txt {
  color: gold;
}

.logo {
    margin-bottom: 10x;
}

/*----------МЕНЮ-----------*/

.menu {
  width: 70%;     
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link:hover {
    color: #c7b299;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
line-height: 1.2;
font-weight: 300;
}
.icon-menu1 {
   padding-left: 60px; 
}


/*----------БЛОК ТЕКСТА С КНОПКОЙ-----------*/

.get-started-btn {
display: block;
width: 170px;
height: 53px;
background-color: #998675;
border-radius: 3.0px;
font-size: 14px;
line-height: 23px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
text-decoration: none;
text-align: center;
font-family: sans-serif;
padding: 17px;
margin: auto;
  }
.get-started-btn:hover {
    background-color: #474541;
}

.main-text {
    position: relative;
    text-align: center;
    z-index: 2;
    }
.main-text span {
font-size: 36px;
line-height: 1.2;
font-weight: 500;
}
.main-text h1 {
font-size: 52px;
line-height: 1.2;
font-weight: 800; 
margin-top: 10px;
}

.main-text p {
font-size: 16px;
line-height: 24px;
font-weight: 300;
    width: 60%;
    margin: auto;
    margin-bottom: 20px
    }    
        
/*----------ПАГИНАЦИЯ-----------*/
        
  .pagination {
  width: 120px;
  display: flex;
  justify-content: center;
     margin-bottom: 20px;

}

.pagination-link {
  display: block;
  width: 10px;
  min-height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid transparent;
}

.pagination-link:hover {
  border: 2px solid gold;
  background-color: transparent;
}      
        
        

/*-- ------------ ВТОРОЙ БЛОК С SVG ИКОНКАМИ ----------------- --*/

.svg-ikons {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: auto;
}


.web {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 40px 10px 40px 10px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-align: center;
  color: #555555;
  background-color: #fff;
  
}

.web:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #555555;
}

.web:hover .web-icon {
  fill: #998675;
}

.web:hover .web-title {
  color: #998675;
}

.web:hover:after {
 background-color: #998675;
}

.web-icon {
  fill: #555555;
  margin: 0 0 15px 0;
  }

.web-title {
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: bold;
    font-size: 22px;
line-height: 1.2;
font-weight: 600;
color: #555555;
}

.web-txt {
  margin: 0 0 15px 0;
font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #8c8c8c;
}

/*-- ------------ ТРЕТИЙ БЛОК С ТРЕМЯ КАРТИНКАМИ ----------------- --*/


.three-pictures  {
    background-image: url(img/browser_center_10768.png), url(img/browser_left_10769.png),  url(img/browser_right_10770.png);
    background-repeat : no-repeat;
    width: 100%;
    height: 700px;
    background-position : 50% 100%, 346px 100%, 806px 100%;
    text-align: center;
    background-color: #fbfaf8;
    
}
.three-pictures h2 {
    font-size: 30px;
line-height: 1.2;
font-weight: 600;
color: #555555;
padding-top: 83px;
}

.three-pictures p {
    font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #8c8c8c;
    
}
/*-- ------------ ЧЕТРВЕРТЫЙ БЛОК PURCHASE NOW ----------------- --*/
.purchase {
    width: 100%;
    height: 150px;
background-color: #f4f5f8;
background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
}
.purchase-text {
    flex: 1;
    padding-left: 16%;
    margin: auto;
    
    
}

.purchase-text span {
font-size: 28px;
font-weight: 400;
color: #ffffff;  
 
}
.purchase-text .waxom  {
  color: #c7b299;  
    
}
.btn {
    flex: 1;
    display: flex;
        
}
.purchase-text p {
font-size: 18px;
font-weight: 300;
color: #615855; 
    margin: 5px 0;
}
.purchase-btn {
width: 170px;
height: 53px;
background-color: #998675;
border-radius: 3.0px;
font-size: 14px;
line-height: 23px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
text-decoration: none;
text-align: center;
font-family: sans-serif;
padding: 17px;
margin: auto;
}

.purchase-btn:hover {
    background-color: #474541;
}
/*-- ------------ ПЯТЫЙ БЛОК OUR LATEST PROJECTS ----------------- --*/
.ourlatest {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }

.ourlatest-header {
    width: 63%;
    margin: auto;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ourlatest-header h2 {
   font-size: 30px;
line-height: 1.2;
font-weight: 600;
color: #555555; 
    padding-top: 50px;
    margin: 0;
}
.ourlatest-header p {
    width: 75%;
    margin: auto;
    font-size: 16px;
line-height: 28px;
font-weight: 300;
color: #8c8c8c;
    margin-bottom: 0;
}

.header-btn {
display: block;
width: 120px;
height: 32px;
border: 1.0px solid #ebebeb;
border-radius: 3.0px;
 font-size: 14px;
line-height: 21px;
font-weight: 300;
color: #8c8c8c; 
text-decoration: none;
    padding: 5px;
   }
.all {
   width: 70px; 
  }

.header-btn:hover {
   background-color: #998675; 
    color: #ffffff;
}

.header-menu {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin: auto;
    height: 50px;
}

.blocklink {
    display: block;
   width: 370px;
   height: 334px;
   text-decoration: none;
    
}
.project-pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 63%;
    justify-content: space-around;
    margin: auto;
    height: 735px;
        
    }
.project-foto {
  width: 370px;
     height: 237px; 
  display: block;
   
    
}
.project-foto-text {
    background-color: #fbfaf8;
    width: 370px;
     height: 98px;
    padding: 25px 30px;
    
    
}
.project-foto-text span {
    font-size: 20px;
line-height: 1.2;
font-weight: 500;
color: #c7b299;
}

.project-foto-text p {
   font-size: 14px;
line-height: 20px;
font-weight: 300;
color: #d1d1d1;
    margin: 8px 0;
}

.blocklink:hover .project-foto-text {
   background-color: #362f2d; 
}

.blocklink:hover .project-foto {
  opacity: 0.4;
}
/*-- ------------ ШЕСТОЙ БЛОК ВИДЕО С КЛАВИАТУРОЙ ----------------- --*/
.klaviatura {
    width: 100%;
    height: 705px;
    background-image: url(img/bg_klaviatura_10983.png);
    position: relative;
    z-index: 0;
    position: relative;
    margin-top: 40px;
    display: flex;
          }

.center-contain {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    text-align: center;
    z-index: 2;
    
}
.circle {
    background-image: url(img/circle_10994.png);
    width: 100px;
height: 100px;
    opacity: 0.2;
    margin: auto;
    
               }

.play-circle {
width: 20%;
 margin: auto;
   
 }
.play-circle:hover {
    opacity: 0.5;
}
.center-contain h2 {
 font-size: 34px;
line-height: 1.2;
font-weight: 500;
color: #ffffff; 
}
.center-contain p {
font-size: 18px;
line-height: 28px;
font-weight: 300;
color: #ffffff;
}
.center-contain span {
  font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #c7b299;  
}